<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ionshield.planner">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.CustomMapActivity"></activity>
        <activity android:name=".activities.database.editors.LinksEditActivity" />
        <activity android:name=".activities.database.editors.LinkTypesEditActivity" />
        <activity android:name=".activities.database.editors.NodesEditActivity" />
        <activity android:name=".activities.LocationFinderActivity" />
        <activity android:name=".activities.database.editors.EventAssocEditActivity" />
        <activity android:name=".activities.database.editors.PlansEditActivity" />
        <activity android:name=".activities.database.editors.EventsEditActivity" />
        <activity android:name=".activities.database.ListActivity" />
        <activity android:name=".activities.database.editors.LocationsEditActivity" />
        <activity android:name=".activities.database.editors.ItemAssocEditActivity" />
        <activity android:name=".activities.database.editors.TypesEditActivity" />
        <activity android:name=".activities.database.editors.ItemsEditActivity" />
        <activity android:name=".activities.database.DatabaseMenuActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>